<!DOCTYPE html>
<html lang="en">
<head>
    <title> DATA </title>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
    
    <style>
    h1
    {
      margin-bottom: 50px;
     }
    
    .table-edits
    {
     font-size: 15px ;
     }
    
    .table-edits tbody tr td, .table-edits thead tr th
    {
     padding: 0.3rem ;
     }
    
    </style>	
</head>
<body>
    <div class = "container"><br>
        <h1 class = "text-center"> 
            YAKA METER MONITORING
        </h1>
        <table class="table table-striped table-edits table-bordered">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th>Owner</th>
                    <th>Date and Time </th>
                    <th>V<sub>before</sub><br>Meter(V) </th>
                    <th>V<sub>after</sub><br>Meter(V)</th>
                    <th>V<sub>in</sub><br>House(V)</th>
                    <th>C<sub>before</sub><br> Meter(A) </th>
                    <th>C<sub>after</sub><br>Meter(A)</th>
                    <th>C<sub>in</sub><br>House(A) </th>
                    <th>Energy(W)</th>
                    <th>Location</th>
                </tr>
            </thead>
                <tbody>
                    {%for data in devicedata %}
                <tr >
                    <td>{{data.owner}}</td>
                    <td>{{data.received_at}}</td>
                    <td>{{data.vb_meter}}</td>
                    <td>{{data.va_meter}}</td>
                    <td>{{data.vin_house}}</td>
                    <td>{{data.cb_meter}}</td>
                    <td>{{data.ca_meter}}</td>
                    <td>{{data.cin_house}}</td>
                    <td>{{data.energy}}</td>
                    
                    {% if data.location == 'Null' %}
                    <td>{{data.location}}</td>
                    {% else %}
                    <td><a href="{% url 'maps_view' data.pk %}" target = "_blank">{{data.location}}</a></td>
                    {% endif %}
                </tr>              
                {% endfor %}
                        
                </tbody>
            </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>	
		
</body>
</html>